Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-Limiter[redis]
Flask-Caching
flask-restful
flask-debugtoolbar
flasgger
art
chardet
PyPDF2
pyttsx3
python-espeak 
py-espeak-ng
TTS
pathlib
celery
redis
gunicorn