<!DOCTYPE html>

<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title -->
        <title>{% block title %}Flask TTS REST API{% endblock title %}</title>

        <!-- Site icon -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='/images/favcon.png') }}">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/UIkit/uikit.min.css') }}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap/bootstrap.min.css') }}">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/styles.css') }}">

        <!-- CSS icons -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/themify-icons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/bootstrap-icons.css') }}">

        <!-- Fonts -->
        <link href="{{ url_for('static', filename='/fonts/fonts.css') }}" rel="stylesheet">

        <!-- Jquery JS -->
        <script src="{{ url_for('static', filename='/js/jquery/jquery-3.6.1.js') }}"></script>

        <!-- CSRF token -->
        <script> var csrf_token = '{{ request.cookies.csrftoken }}'; </script>

        <!-- UIkit JS -->
        <script src="{{ url_for('static', filename='/js/UIkit/uikit.min.js') }}" async></script>
        <script src="{{ url_for('static', filename='/js/UIkit/uikit-icons.min.js') }}" async></script>

        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='/js/bootstrap/bootstrap.bundle.min.js') }}" async></script>

        <!-- JS -->
        <script src="{{ url_for('static', filename='/js/scripts.js') }}" defer></script>
    </head>

    <body>
        <div class="header container p-0 pb-5">
        <!-- Header --> 
        <header id="header" class="header navbar navbar-expand-xl sticky-top">    
            <nav class="container-fluid justify-content-center">

                <!-- Left header block - Logo -->
                <a href="/" class="navbar-brand logo">Flask TTS REST API</a>
            </nav>
        </header>

        <!-- Wrapper -->
        <div id="wrapper" class="wrapper container-fluid">

            <!-- Wrapper content -->
            <div class="container">
                {% block content %}
                    <div class="row d-flex justify-content-center my-3">
                        <div class="col-md-6 col-12">

                            <form method=post enctype=multipart/form-data class="my-3" id="uploadForm">
                                
                                <div class="row">
                                    <div class="col-md-4 col-12 my-3 my-md-0 uk-box-shadow-hover-medium">
                                        <input class="uk-range" type="range" value="200" min="0" max="1000" step="10" uk-tooltip="Скорость речи" id="voiceRateRange" name="voice_rate">
                                    </div>
                                    <div class="col-md-4 col-12 my-3 my-md-0">
                                        <select id="formVoiceSelect" class="form-select form-select-sm uk-box-shadow-hover-medium" aria-label=".form-select-sm example" uk-tooltip="Выбор голоса" id="voiceSelect" name="voice_id"></select>
                                    </div>
                                    <div class="col-md-4 col-12 my-3 my-md-0 uk-box-shadow-hover-medium">
                                        <input class="uk-range" type="range" value="1.0" min="0.1" max="1.0" step="0.1" uk-tooltip="Громкость речи" id="voiceVolumeRange" name="voice_volume">
                                    </div>
                                </div>
                                
                                <div class="my-3">
                                    <label for="text" class="form-label">Введите текст или прикрепите файл: </label>
                                    <textarea class="uk-textarea rounded uk-box-shadow-hover-medium" id="textInput" rows="7" name="text"></textarea>
                                </div>

                                <div class="js-upload uk-placeholder uk-text-center rounded uk-box-shadow-hover-medium uk-drag">
                                    <i class="bi bi-file-earmark-arrow-up"></i>
                                    <span class="uk-text-middle">Приложите файл, опустив его здесь или</span>
                                    <div uk-form-custom>
                                        <input type="file" id="file" name="file">
                                        <span class="text-colored">здесь</span>
                                    </div>
                                </div>
                                
                                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

                                <div id="APIerror" class="text-danger text-center mt-mb-3 mb-0"></div>


                                <div class="d-inline-flex align-items-center mt-md-3 mt-0" id="submitFormRow">
                                    <button  class="btn uk-button-text px-5 border-colored uk-box-shadow-hover-medium" type=submit>Отправить</button>
                                    <a id="downloadResultLink" class="mx-4 my-auto" download></a>
                                </div>
                            </form>

                            <!-- <pre>{{context.site_map}}</pre> -->

                        </div>
                    </div>
                {% endblock content %}
            </div>

            <!-- Back to top button -->
            <a id="btn-back-to-top" href="#" type="button" class="btn btn-light position-fixed" uk-totop uk-scroll></a>

        </div>

        <!-- Footer -->
        <footer class="container text-center my-5 px-5">

            <div class="row justify-content-center h-100">
                <div class="col-5 my-auto p-0">
                    <hr class="text-black-50 my-0">
                </div>

                <div class="col-auto my-auto">
                    <span class="ti-control-record fs-3 opacity-25 my-0"></span>
                </div>

                <div class="col-5 my-auto p-0">
                    <hr class="text-black-50 my-0">
                </div>	
            </div>

            <div class="mt-4">© 2022 - Flask TTS REST API</div>
            <sub class="text-colored float-end pt-4 pb-5 d-inline-flex">made by Re;Gelu
                <div class="waves-container mx-3">
                    <div class="wave" style="--i: 1"></div>
                    <div class="wave" style="--i: 2"></div>
                    <div class="wave" style="--i: 3"></div>
                    <div class="wave" style="--i: 4"></div>
                    <div class="wave" style="--i: 5"></div>
                    <div class="wave" style="--i: 6"></div>
                    <div class="wave" style="--i: 7"></div>
                    <div class="wave" style="--i: 8"></div>
                    <div class="wave" style="--i: 9"></div>
                    <div class="wave" style="--i: 10"></div>
                    <div class="wave" style="--i: 11"></div>
                    <div class="wave" style="--i: 12"></div>
                    <div class="wave" style="--i: 13"></div>
                    <div class="wave" style="--i: 14"></div>
                    <div class="wave" style="--i: 15"></div>
                    <div class="wave" style="--i: 16"></div>
                    <div class="wave" style="--i: 17"></div>
                    <div class="wave" style="--i: 18"></div>
                    <div class="wave" style="--i: 19"></div>
                    <div class="wave" style="--i: 20"></div>
                </div>
            </sub>
        </footer>
        </div>
    </body>

</html>

<!-- <div class="form-file">
                                    <input type="file" class="form-file-input" id="fileInput" name="file">
                                    <label class="form-file-label" for="file">
                                        <span class="form-file-text"></span>
                                        <span class="form-file-button"></span>
                                    </label>
                                </div> -->